<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Gossip Project.</title>
</head>
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Bienvenue sur The <small class="text-muted">Gossip</small> Project.</h1>
      <p class="lead">Le premier site de ragoting de France.</p>
    </div>
  </div>  
  <div class="body_welcome">
<% Gossip.all.each do |gossip| %>  
<div class="cards-div">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><strong>Titre:</strong> <%= gossip.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Auteur: <%=link_to gossip.user.first_name, user_path(gossip.user.id) %></h6>
    <p class="card-text"><%=h truncate(gossip.content, :length => 30) %></p>
    <a class="card-link"><%= link_to 'En voir plus', gossip_path(gossip.id) %></a>
  </div>
</div>
</div>
  <% end %></div>
  
  </body>
</html>